<header>
  <h1 style="text-align: center">{{ heading }}</h1>
</header>
<br>
<form #eventForm="ngForm" (ngSubmit)="addevent(eventForm)" class="form">
  <mat-form-field appearance="fill" class="event">
  <mat-label>Enter event:</mat-label>
  <input matInput type="text" id="title" name="title" [(ngModel)]="eventTitle" />
   </mat-form-field>
   <mat-form-field appearance="fill" class="date">
  <mat-label >Enter Date:</mat-label>
  <input matInput  type="date" id="date" name="date" [(ngModel)]="eventDate" />
  </mat-form-field>
<div class="center-bt1">
  <button mat-raised-button type="submit" class="bt1">Submit</button>
  </div>
</form>
<h2 style="text-align: center;">ALL EVENTS</h2>
<table class="table">
    <tr style="border: 1px solid black">
      <th>Event </th>
      <th>Date</th>
    </tr>
    <tr *ngFor="let event of event.getEvents()">

      <td>{{ event.title }}</td>
      <td>{{ event.start | date:'yyyy-MM-dd' }}</td>

    </tr>
</table>
<div class="center-bt2">
<button  (click)="gotocalender()" class="bt2">show calendar</button>
</div>
<mat-slide-toggle [(ngModel)]="istoggled" (change)="pageTheme()">change background!</mat-slide-toggle>