<header>
  <h1 style="text-align: center">{{ heading }}</h1>
</header>
<br>

<form #eventForm="ngForm" (ngSubmit)="addevent(eventForm)" class="form">
  <label for="title">Enter event:</label>
  <input type="text" id="title" name="title" [(ngModel)]="eventTitle" /><br /><br>

  <label for="date">Enter Date:</label>
  <input type="date" id="date" name="date" [(ngModel)]="eventDate" /><br /><br>

  <button type="submit">Submit</button>
</form>
<h2 style="text-align: center;">ALL EVENTS</h2>
<table class="table">
    <tr style="border: 1px solid black">
      <th>Event </th>
      <th>Date</th>
    </tr>
    <tr *ngFor="let event of eventService.getEvents()">

      <td>{{ event.title }}</td>
      <td>{{ event.start | date:'yyyy-MM-dd' }}</td>

    </tr>
</table>
<button (click)="gotocalender()" style="background-color: antiquewhite;color: black;border-radius: 5px;border-color: black;">show calendar</button>
