
.form {
  background-color: antiquewhite;
  border: 2px solid black;
  padding: 15px;
  width: 300px;
  margin: auto;
  border-radius: 8px;
  
}
.event{
  width: 300px;
}
.date{
  width: 300px;
}


label {
  display: block;
  margin-top: 10px;
}
mat-form-field{
  height: 80px;
  
}



.center-bt1{
  display: flex;
  justify-content: center;
}
.bt1 {
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;

}
.center-bt2{
  display: flex;
  justify-content: center;

}
.bt2{
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;

}

button:hover {
  background-color: aliceblue;
}

h2 {
  text-align: center;
  margin-top: 30px;
}

ul {
  width: 300px;
  margin: auto;
  padding: 0;
}

li {
  background-color: #f9f9f9;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  border: 1px solid rgb(16, 5, 5);
}

.table tr {
  border: 1px solid black;
}

.table th, 
.table td {
  border: 1px solid #170808;
  padding: 10px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}
