/* You can add global styles to this file, and also import other style files */
body {
  background-image: url('assests/background1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  
}
body.bg1{
  background-image: url('assests/background1.jpg');
}
body.bg2{
  background-image: url('assests/back2.jpg');
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
